h1 {
  color: green;
}
#title {
  margin: auto;
  align: center;
}
.search-btn {
  background-color: #10a010;
  border-color: black;
  border-radius: 12px;
  padding: 6px;
  margin: 10px;
}
.information-category {
  font-weight: bold;
  margin: 5px;
  color: brown;
}
