#title {
  margin: auto;
  align: center;
  color: green;
  font-size: 30px;
}
.search-btn {
  background-color: #10a010;
  border-color: black;
  border-radius: 12px;
  padding: 6px;
  margin: 10px;
}
.information-category {
  font-weight: bold;
  margin: 5px;
  color: brown;
}

.centering {
  justifyContent: "center";
  alignItems: "center";
  margin: auto;
  width: 50%;
  padding: 10px;
}
